/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

html {
  /*-- Main font sizes --*/
  --title-size:      60px;
  --body-size:       24px; 
  --code-size:       20px;                     
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #000000;
  --heading-color:   rgba(0, 0, 0, 0.8);
  --body-color:      #383838;                   
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    'Lato', sans-serif;         
  --mono-font:       "Consolas", monospace;     
  --body-font:       "Helvetica Neue", Helvetica, Arial, sans-serif;    
  --navbar-font:     'Montserrat', sans-serif;   
}

d-article p code {
  font-size: 22px;
  background: #f8f8f8;
  font-weight: 400;
  font-family: "Consolas";
  border: 1px solid #eee;

}

d-article div.sourceCode pre a:hover {
  border-bottom: none !important;
}

d-article div.sourceCode pre {
  overflow-x: auto !important;
  font-size: 22px;
  line-height: 1.5em;
  background: #f8f8f8;
  padding: 10px;
  border-left: 0;
  border: 1px solid #eee;
}

d-article pre {
 border-left: 3px solid #eee;
 padding-left: 10px;
}  

span.disqus-comments {
  font-size: 25px;
}

span.article-sharing {
  font-size: 25px;
  padding-left: 50px;
}

span.article-sharing a:hover {
  border-bottom: none !important
}

div.byline.grid{
  display: flex;
}
    
div.byline.grid > div > h3{
height: 50px;
width: 150px;
margin: 0px;
padding: 0px;
}

div.byline.grid > div > p{
height: 50px;
width: 150px;
margin: -10px 0px 0px 0px;
padding: 0px;
}

d-byline {
  --heading-size:    30px;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       20px;
  --body-color:      rgba(0, 0, 0, 0.8);
}

d-appendix {
  display: none !important;
}

.dt-tags {
  display: none;
}

d-title p{
  background: white;
  color: black;
  font-size: 24px;
}

d-article {
  line-height: 2em;
}

div.article-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.posts-list-caption {
    font-size: 60px;
}

.posts-list .metadata .publishedDate {
    color: Black;
    font-size: 22px;
    width: 200px;
}

.posts-list .description p{
    font-size: 20px;
    line-height: 1.25em;
}

.posts-list .description h2{
    font-size: 30px;
}

.distill-site-footer a{
    text-decoration: none;
    color: #C3D8E0 !important;
    border-bottom: none;
}

.distill-site-footer a:hover {
    text-decoration-line: underline;
    border-bottom: none;
}

.distill-site-footer {
  --text-color:       white;
  --text-size:        20px;
  --hover-color:      #638E9D;
  --bkgd-color:       grey;
}

.distill-site-footer {
  font-weight: 400;
  height: 70px;
  line-height: 1em;
  border-bottom: 0;
}

.nav-search {
    top: 2.5px;
    font-size: 20px;
    line-height: 1em;
    margin: 0px;
    vertical-align: center;
}

span.algolia-autocomplete{
  top: 5px;
  position: relative;
  height: 35px;
  vertical-align: center;
}

.distill-site-header .title {
    font-weight: 700px;
}

.distill-site-header .title a:hover{
    font-weight: bold;
}

.distill-site-header {
  --title-size:       30px;                      /* edited */
  --text-color:       #FFFFFF;                   /* edited */
  --text-size:        20px;                      /* edited */
  --hover-color:      #FFFFFF;                   /* edited */
}

.distill-site-header a:hover {
  color: white;
  font-weight: bold;
}

.distill-site-header {
  font-weight: 400;
  background: linear-gradient(to right, 
  #FDE725FF, #DCE318FF, #B8DE29FF, #94D840FF, #74D055FF, #56C667FF,
  #3CBC75FF, #29AF7FFF, #20A386FF, #1F968BFF, #238A8DFF, #287D8EFF,
  #2D718EFF, #32648EFF, #39558CFF, #3F4788FF, #453781FF, #482677FF,
  #481568FF, #440154FF);
  -webkit-box-shadow: 1px 1px 18px #4d4d4d;
  -moz-box-shadow: 1px 1px 18px #4d4d4d;
  box-shadow: 1px 1px 18px #4d4d4d;
  height: 80px;
  line-height: 2.5em;
}

body {
  padding-top: 25px;
}

.sidebar-section h3{
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}

.sidebar-section {
  font-size: 18px;
}

.sidebar-section.custom a{
    color: #2780e3 !important;
    border-bottom: none !important;
}

.sidebar-section.custom a:hover {
    color: #2780e3 !important;
    border-bottom: 2px solid !important;
}

.sidebar-section input[type=submit]{
  margin-left: 33%;
  margin-top: 5px;
}

.sidebar-section ul li {
   text-transform: capitalize;
}

.sidebar-section ul li a:hover {
    border-bottom: 2px solid !important;
}



